@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --vermelho: #ff1e00;
    --verde: #7fff7a;
    --azul: #002255;
    --verde2: #7A8F35;
    --vermelho2: #662016;
    --azulfundo: #c7deff;
}

header {
    background-color: var(--azul);
    color: white;
    padding: 15px;
}

main {
    display: grid;
    background-color: #0022554d;
    grid-template-columns: 1fr 60% 1fr;
}

section { /* Parte central do conteúdo, que engloba os artigos*/
    display: grid;
    background-color: var(--azulfundo);
    grid-template-columns: 1fr 90% 1fr;
    grid-column: 2;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.247);
    line-height: 1.3em;
}

article.artigo { /* Caixa dos artigos */
    margin: 10px 0px;
    background-color: whitesmoke;
    border-radius: 10px;   
    grid-column: 2;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.247);   
}

article.artigo h2 {
    background-color: red;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
    color: white;
    overflow: hidden;
}

article.artigo div { /* Engloba o texto do artigo */
    margin: 10px 0px 10px 0px;
}

p.caput {
    padding: 0px 10px 3px 10px;
    text-align: justify;
}

p.parag {
    padding: 3px 10px 3px 10px;
    text-align: justify;
}

ul.caput {
    list-style-type: upper-roman;
    list-style-position: inside;
    text-indent: 20px;
    padding: 0px 10px;
    text-align: justify;
    ::marker {
        color: red;
        font-weight: bold;
    }
}

ul.parag {
    list-style-type: upper-roman;
    list-style-position: inside;
    text-indent: 20px;
    padding: 0px 10px;
    text-align: justify;
    ::marker {
        color: blue;
        font-weight: bold;
    }
}

ul.alinea {
    list-style-type: lower-latin;
    padding-left: 70px;
    padding-right: 10px;
    text-align: justify;
    ::marker {
        color: green;
        font-weight: bold;
    }
}

article.artigo li { /*Espaçamento entre cada li de cada lista*/
    padding: 3px 0px;
}

strong.num {
    color: blue;
    font-size: 1.1em;
}

strong.dic abbr {
    text-decoration: none;
    color: darkred;
}

strong.dic abbr:hover {
    background-color: lightcoral;
    border-radius: 2px;
    cursor: pointer;
}

strong.link a {
    font-weight: bold;
    color: darkviolet;
    text-decoration: none;
}

strong.link a:hover {
    background-color: lightpink;
    border-radius: 3px;
}