@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --vermelho: #ff0000;
    --verde: #7fff7a;
    --azul: #002255;
    --verde2: #7A8F35;
    --vermelho2: #662016;
    --azulfundo: #c7deff;
}

header {
    background-color: var(--azul);
    color: white;
    padding: 15px;
}

main {
    display: grid;
    background-color: rgb(226, 226, 226);
    grid-template-columns: 1fr 60% 1fr;
}

* {
    padding: 0px;
    margin: 0px;
}

/* Começo dos inputs*/

div.inserir {
    grid-column: 2;
}

input#artigo {
    margin: 5px;
    width: 50px;
}

textarea#cap {
    margin: 5px;
    width: 200px;
    height: 100px;
}

textarea#inc {
    margin: 5px;
    width: 200px;
    height: 50px;
}

textarea#ali {
    margin: 5px;
    width: 200px;
    height: 50px;    
}

textarea#parag {
    margin: 5px;
    width: 200px;
    height: 50px;    
}

input {
    margin: 5px;
}

/* Fim dos inputs*/

section#artigos { /* Parte central do conteúdo, que engloba os artigos*/
    display: grid;
    background-color: var(--azulfundo);
    grid-template-columns: 1fr 90% 1fr;
    grid-column: 2;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.247);
    line-height: 1.3em;
}

article.artigo { /* Caixa dos artigos */
    margin: 10px 0px;
    background-color: whitesmoke;
    border-radius: 10px;   
    grid-column: 2;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.247);
    overflow: hidden; 
}

article.artigo h2 {
    background-image:linear-gradient(to right, red, lightcoral);
    padding: 5px;
    color: white;
    overflow: hidden;
}

div.linhas {
    display: grid;
    grid-auto-rows: auto;
    row-gap: 10px;
    padding-bottom: 10px;
}

p.caput {
    padding: 10px 10px 0px 10px;
    text-align: justify;
}

div.par {
    display: grid;
    grid-template-columns: 1fr 98% 1fr;
    text-align: justify;
}

div.cor {
    background-color:  rgb(194, 255, 235);
    grid-column: 2;
    border-radius: 10px;
}

div.par p {
    background-color: rgb(194, 255, 235);
    grid-column: 2;
    padding: 7px;
    border-radius: 10px;
}

ul.caput {
    list-style-type: upper-roman;
    list-style-position: inside;
    text-indent: 20px;
    padding: 0px 10px;
    text-align: justify;
    ::marker {
        color: red;
        font-weight: bold;
    }
}

ul.parag {
    grid-column: 2;
    list-style-type: upper-roman;
    list-style-position: inside;
    text-indent: 20px;
    padding: 0px 10px;
    text-align: justify;
    ::marker {
        color: blue;
        font-weight: bold;
    }
}

ul.alinea {
    grid-column: 2;
    list-style-type: lower-latin;
    padding-left: 70px;
    padding-right: 10px;
    text-align: justify;
    ::marker {
        color: green;
        font-weight: bold;
    }
}

article.artigo li { /*Espaçamento entre cada li de cada lista*/
    padding: 3px 0px;
}

strong.num {
    color: blue;
    font-size: 1.1em;
}

strong.dic abbr {
    text-decoration: none;
    color: darkred;
}

strong.dic abbr:hover {
    background-color: lightcoral;
    border-radius: 2px;
    cursor: pointer;
}

strong.link a {
    font-weight: bold;
    color: darkviolet;
    text-decoration: none;
}

strong.link a:hover {
    background-color: lightpink;
    border-radius: 3px;
}

/* Some com o marcador da tag summary */
details > summary {
  list-style: none;
}

details > summary::-webkit-details-marker {
    display: none;
}

div#mnemon {
    margin: 0px;
}

div#mnemon h3 {
    background-image: linear-gradient(to right, rgb(0, 61, 0), green);
    display: block;
    color: white;
    padding: 5px;
}

div#mnemon h3:hover {
    cursor: pointer;
}

details p {
    padding: 5px;
}
