@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: lightgreen;
    padding: 15px;
}

main {
    display: grid;
    grid-template-columns: 1fr 60% 1fr;
    margin-top: 20px;
}

article.artigo {
    border-radius: 10px;
    display: grid;
    grid-column: 2;
    
}

article.artigo h2 {
    margin-top: 10px;
    padding: 5px;
    color: white;
    background-color: red;
    overflow: hidden;
}