@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: lightgreen;
    padding: 15px;
}

main h2 {
    padding: 10px;
}

main ul {
    padding: 10px 30px;
    list-style-type: square;
}

main ul>li {
    padding: 5px;
}

main ul>li>a {
    text-decoration: none;
    padding: 5px;
    color: green;
}

main ul>li>a:hover {
    border-radius: 2px;
    color: rgb(0, 44, 0);
    background-color: palegreen;
}